{%- set interface = 'ens160' if salt['grains.get']('env') == 'Development' else 'eth0' -%}
{%- set addr = salt['network.interface_ip'](interface) -%}
 
server {
    listen {{ addr }}:80;
 
    root /var/www/sam;
    index index.html index.htm;
 
    server_name {{ addr }};
 
    location / {
        try_files $uri $uri/ =404;
    }
}